.wrapper {

}

.message {
    font-family: IBM Plex Mono;
    font-size: 0.9em;
}

.priorityMessage {
    color: var(--color-secondary);
}

.message::before {
    content: '>';
    padding-right: 15px;
}

